.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin 1 2s linear;
  height: 300px;
}

.App-header {
  background-color: #f0ffff;
  height: 470px;
  padding: 30px;
  color: blue;
}

.App-title {
  font-size: 3em;
  
}
.App-sstitle {
  font-size: 1.3em;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
